*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calculator{
  display: inline-block;
  border: 1px solid #34363B;
}
.calculator .button {
  width: 56px;
  height: 47px;
  margin: -1px;
  font-size:17px;
  border: 1px solid #34363B;
  background-color: #8A8B8D;
  color: #fff;
  outline: none;
}

.calculator .button:active{
  background-color: #B9B9BA;
}

.calculator .row button:last-child{
  background-color: #FF9F0A;
}
.calculator .row button:last-child:active{
  background-color: #CB7D05;
}
.calculator .button.text-Clear {
  width: 164px;
}

.calculator .button.text-0 {
  width: 110px;
}

.calculator .output {
  height: 65px;
  background-color: #38393E;
  position: relative;
}
.calculator .output span{
  position: absolute;
  right: 16px;
  bottom: 0px;
  color: #fff;
  font-size: 36px;
}